.boton_agregar_li{
    circle{
        fill: silver;
        stroke-width: 0px;
    }
    .Combined-Shape{
        fill: rgba(243,245,248,1);
    }
}
.box_create_giphy{
    margin-top: 10%;
    display: flex;
    .box_cam{
        padding: 0px;
        padding-left: 5%;
        width: 20%;
        margin: 0px;
        top: 35%;
    }
    div{
        display: flex;
        padding-right: 5%;
        padding-left: 5%;
    }
    .create_giphy{
        border: 1px solid rgba(87,46,229,1);
        padding: 0px;
        width: 668px;
        height: 390px;
        margin-right: auto;
        margin-left: 5%;
        div{
            padding: 0px
        }
        div:nth-child(2){
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            h1{
                text-align: center;
                margin-top: 25%;
                margin-bottom: 10%10%;
                margin-left: auto;
                margin-right: auto;
                font-size: 25px;
            }
            p{
                margin: 0px;
                margin-top: 2%;
                padding: 0px;
            }
        }
        .sides{
            height: 100%;
            width: 8%;
            display: flex;
            span{
                width: 27px;
                height: 25px;
            }
        }
    }
}
.s1{
    position: relative;
    top: 27px;
    left: 27px;
    border-top: 1px solid rgba(80,227,194,1);
    border-left: 1px solid rgba(80,227,194,1);
}
.s2{
    position: relative;
    align-self: flex-end;
    bottom: 27px;
    border-bottom: 1px solid rgba(80,227,194,1);
    border-left: 1px solid rgba(80,227,194,1);
}
.s3{
    position: relative;
    top: 27px;
    left: 0px;
    border-top: 1px solid rgba(80,227,194,1);
    border-right: 1px solid rgba(80,227,194,1);
}
.s4{
    position: relative;
    left: -30px;
    bottom: 27px;
    align-self: flex-end;
    border-bottom: 1px solid rgba(80,227,194,1);
    border-right: 1px solid rgba(80,227,194,1);
}
.box_numbers{
    display: flex;
    justify-content: center;
    img{
        position: absolute;
        right: 5%;
        margin: 0px;
    }
}
.numbers{
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 5px;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(87,46,229,1);
    border-radius: 100%;
    color: rgba(87,46,229,1)
}
.first{
    margin-right: 1%;
}
.last{
    margin-left: 1%;
}
.box_line{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    .line{
        display: block;
        width: 65%;
        height: 4px;
        background-color: rgba(87,46,229,1);
    }
}
.comenzar{
    width: 15%;
    height: 40px;
    margin: 0px auto;
    border: 1px solid rgba(87,46,229,1);
    border-radius: 20px;
    font-family: 'Montserrat';
    background-color: rgba(245,245,245,1);
    font-weight: bolder;
    color: rgba(87,46,229,1);
    display: block;
    &:hover{
        width: 15%;
        height: 40px;
        margin: 0px auto;
        border: 1px solid rgba(255,255,255,1);
        border-radius: 20px;
        background-color: rgba(87,46,229,1);
        font-family: 'Montserrat';
        font-weight: bolder;
        color: rgba(255,255,255,1);
        display: block;
        text-decoration: none;
    }
}
.darkmode{
    .comenzar{
        border: 1px solid rgba(255,255,255,1);
        background-color: rgba(55,56,60,1);
        color: rgba(255,255,255,1);
    }
    .comenzar:hover{
        background-color: rgba(255,255,255,1);
        color: rgba(55,56,60,1);
        border: 1px solid rgba(55,56,60,1);
        text-decoration: none !important;
        text-decoration-color: rgba(255,255,255,1);
    }
}
#contenedor-video{
    width: 7;
    height: 75%;
    margin: auto;
    display: none;
    #video{
        width: 100%;
        height: 100%;
    }
    #background-video{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 101%;
        position: relative;
        left: 15%;
        top: -102%;
        background-color: black;
        .iconos-final{
            height: 20%;
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            .link{
                margin-right: 2%;
                margin-top: 2%;
                width: 32px;
                height: 32px;
            }
            .downlad{
                margin-top: 2%;
                margin-right: 2%;
                width: 32px;
                height: 32px;
            }
        }
        .space-two{
            height: 80%;
            width: 100%;
            .img-final{
                margin-top: 15%;
                width: 22px;
                height: 22px;
                margin-left: auto;
                margin-right: auto;
            }
            .text-final{
                margin-top: 5%;
                color: rgba(243,245,248,1);
                font-weight: bold;
            }
        }   
    }
}

.contador{
    padding:0px;
    margin: 0px;
    color: rgba(87,46,229,1);
    align-self: center;
    position: absolute;
    right: 295px;
    font-weight: bold;
}
.elemento_sobresaliente{
    width: 100%;
    height: 100%;
    background-color: rgba(87,46,229,1);
}
