h2{
    margin-bottom: 5%;
}
.favMygifos{
    text-decoration: none;
    color: rgba(156,175,195,1);
}
.boton_agregar_li{
    circle{
        fill: rgba(255,255,255,1);
        stroke: rgba(87,46,229,1);
        stroke-width: -2px;
    }
    circle:hover{
        fill: rgba(87,46,229,1);
    }
    use{
        fill: rgba(87,46,229,1);
    }
    circle:hover ~ use{
        fill: rgba(255,255,255,1);
    }
    circle:active{
        fill: silver;
        stroke-width: 0px;
    }
    circle:active ~ use{
        fill: rgba(255,255,255,1);
    }
}
.darkmode{
    .circulito{
        fill: transparent;
        stroke: rgba(255,255,255,1);
    }
    .Combined-Shape{
        fill: rgba(255,255,255,1);
    }
    .circulito:hover{
        fill: rgba(255,255,255,1);
    }
    .circulito:hover ~ .Combined-Shape{
        fill: rgba(55,56,60,1);
    }
    .circulito:active{
        fill: rgba(156,175,195,1);
    }
    .circulito:active ~ .Combined-Shape{
        fill: rgba(255,255,255,1)
    }
}
.verMas{
    width: 30%;
    height: 40px;
    margin: 10% auto;
    border: 1px solid rgba(87,46,229,1);
    border-radius: 20px;
    background-color: white;
    font-family: 'Montserrat';
    font-weight: bolder;
    color: rgba(87,46,229,1);
    display: block;
    .verMas:active{
        color: rgba(156,175,195,1);
    }
}
.favoritos_misG{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 5%;
}
.sec_fav_misG{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ejemplo{
    width: 243px;
    height: 187px;
    margin-left: 5%;
    padding-bottom: 20%;
}
.sin-contenido{
    margin: 0px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    .sin-contenido__text{
        margin-top: 5%;
        color: rgba(80,227,194,1);
    }
    .sin-contenido__image{
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        height: 80px;
    }
}
@media screen and (min-width: 700px) {
    .verMas{
        width: 15%;
        margin-top: 5%;
        color: rgba(87,46,229,0.9);
        .verMas:hover{
            color: rgba(87,46,229,0.9)
        }
    }
    .favoritos_misG{
        margin: 0px;
        display: block;
        margin-top: 10%;
        margin-bottom: 1%;
        margin-left: auto;
        margin-right: auto;
    }
    .sec_fav_misG{
        margin: 0px;
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: unset;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .sin-contenido{
        margin: 0px;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        .sin-contenido__text{
            margin-top: 5%;
            color: rgba(80,227,194,1);
        }
        .sin-contenido__image{
            width: auto;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }
}